log_facility=daemon
pid_file={{ nagios_nrpe_server_pid }}
server_port={{ nagios_nrpe_server_port }}
#server_address={{ nagios_nrpe_server_bind_address }}
nrpe_user={{ nagios_nrpe_server_user }}
nrpe_group={{ nagios_nrpe_server_group }}
allowed_hosts={{ nagios_nrpe_server_allowed_hosts }}
dont_blame_nrpe=1
allow_bash_command_substitution=0
debug=0
command_timeout=300
connection_timeout=900

#General UNIX Commands

command[check_users]={{ nagios_nrpe_server_plugins_dir }}/check_users -w 5 -c 10
command[check_load]={{ nagios_nrpe_server_plugins_dir }}/check_load -w 15,10,5 -c 30,25,20
command[check_hda1]={{ nagios_nrpe_server_plugins_dir }}/check_disk -w 20% -c 10% -p /dev/hda1
command[check_zombie_procs]={{ nagios_nrpe_server_plugins_dir }}/check_procs -w 5 -c 10 -s Z
command[check_total_procs]={{ nagios_nrpe_server_plugins_dir }}/check_procs -w 150 -c 200 


{% if 'ansible_os_family' != 'Archlinux' %}

#
# local configuration:
# if you'd prefer, you can instead place directives here
include={{ nagios_nrpe_server_dir }}/nrpe_local.cfg
{% endif %}
include={{ nagios_nrpe_server_dir }}/nrpe_ansible.cfg

{% if 'ansible_os_family' != 'Archlinux' %}
# 
# you can place your config snipplets into nrpe.d/
# only snipplets ending in .cfg will get included
include_dir={{ nagios_nrpe_server_dir }}/nrpe.d/
{% endif %}
